<partial name="Carousel"/>
<link rel="stylesheet" type="text/css" href="~/css/site.css">
@{
    ViewData["Title"] = "Category";
}

<form class=form>
<h1>@ViewData["Title"]</h1>
    Id: <input type ="text" name="txt_id" > 
    <br><br>
    Name: <input type ="text" name="txt_nome" >
    <br><br>
    IsActive: <input type ="text" name="txt_isActive" > 
    <br><br>
    <input type="submit" value="Cadastrar "name="btn_enviar">
    <br><br>
    </form>

<p></p>